@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Baseball</h1>

<p>
    In this tutorial, you'll learn how to create a baseball using Illustrator's 3D tool and blends.
    We'll utilize 3D art mapping for texture creation and pathfinder tools to create this classic illustration of a ball.
</p>
<div>
    <h2>Step 1</h2>
    <p>Open up a new document and select the Ellipse Tool (L). Create a circle and fill it with gray for now and a 1pt black stroke.</p>

    <img src="~/Images/step01.jpg" />
</div>
<h2>Step 2</h2>
<p>Create a sickle like shape with the Pen Tool (P) and fill it with a darker gray.</p>
<img src="~/Images/step02.jpg" />
<h2>Step 3</h2>
<p>Reselect the Ellipse Tool (L) and create a shape like in the image below. Fill it with white.</p>
<img src="~/Images/step03.jpg" />
<h2>Step 4</h2>
<p>
    Select the Pencil Tool (N) and start drawing a stitch like shape (A).
    Make sure the path is closed. Fill it with red and set the stroke to black.
    Then create two small black circles (B) and place them on the tips.
    Last, create two small strokes with the Pencil Tool (C) as well.
</p>
<img src="~/Images/step04.jpg" />
<h2>Step 5</h2>
<p>
    Group the stick (Command + G) and make a duplicate (Option-drag).
    Place them apart and select both. Create a blend (Command + Option + B).
    Then open the Blend Options (Object > Blend Options) and set the Specified Steps to 24, or whatever distance you want to achieve.

</p>
<img src="~/Images/step05.jpg" />
<h2>Step 6</h2>
<p>
    Then select it with the Selection Tool (V) and rotate it 45 degrees.
    With the selection still active, go to Object > Envelop Distort > Warp Options and apply the settings below.
</p>
<img src="~/Images/step06.jpg" />
<h2>Step 7</h2>
<p>Rotate it slightly clockwise.</p>
<img src="~/Images/step07.jpg" />
<h2>Step 8</h2>
<p>Reflect the stitches (Select object then hit O + Option-drag).</p>
<img src="~/Images/step08.jpg" />
<h2>Step 9</h2>
<p>
    Make a copy of the original circle for the baseball and place it above the stitches.
    Set the fill and stroke to none.
    Then select the stitches and the circle and apply a Clipping Mask (Command + 7).
</p>
<img src="~/Images/step09.jpg" />
<h2>Step 10</h2>
<p>
    Now we have the stitches clipped.
</p>
<img src="~/Images/step10.jpg" />
<h2>Step 11</h2>
<p>
    Place the stitches on top of the baseball objects.
</p>
<img src="~/Images/step11.jpg" />
<h2>Step 12</h2>
<p>
    To make the baseball look a little more ragged, add some strokes with the Pencil Tool (N).
    You can replace the stroke with a brush of your liking.
</p>
<img src="~/Images/step12.jpg" />
<h2>Step 13</h2>
<p>
    To make the baseball a little bit more flashy, we will had a few highlights. Create a half circle and fill it with white.
</p>
<img src="~/Images/step13.jpg" />
<h2>Step 14</h2>
<p>
    Then with the half circle selected, go to Effect > 3D > Extrude & Revolve and apply the settings below.
</p>
<img src="~/Images/step14.jpg" />
<h2>Step 15</h2>
<p>
    Place the 3D object on top of the baseball and set the Layer Mode to Multiply, 100%.
    Of course, you could create a circle with a radial gradient fill instead.
</p>
<img src="~/Images/step15.jpg" />
<h2>Step 16</h2>
<p>
    Create a small gray ellipse and place it under the baseball. Then apply a Feather effect of 30pt (Effect > Stylize > Feather).
</p>
<img src="~/Images/step16.jpg" />
<h2>Step 17</h2>
<p>
    The baseball is ready.
</p>
<img src="~/Images/step17.jpg" />
