@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "C#";
}

<h2>C# Tutorial</h2>

<p>
    C# is a simple, modern, general-purpose, object-oriented programming language developed by <br />
    Microsoft within its .NET initiative led by Anders Hejlsberg. This tutorial will teach you basic C# programming  <br />
    and will also take you through various advanced concepts related to C# programming language.
</p>

<h2>Audience</h2>

<p>This tutorial has been prepared for the beginners to help them understand basic C# programming.</p>

<h2>Prerequisites</h2>

<p>
    C# programming is very much based on C and C++ programming languages, so if you have a
    basic understanding of C or C++ programming, then it will be fun to learn C#.
</p>

<p><a href="/Home/OverView">Next Page</a></p>