@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Methods</h2>

<p>A method is a group of statements that together perform a task. Every C# program has at least one class with a method named Main.</p>

<p>To use a method, you need to:</p>

<ul class="list-group">
    <li class="list-group-item">Define the method</li>
    <li class="list-group-item">Call the method</li>
</ul>

<h2>Defining Methods in C#</h2>

<p>When you define a method, you basically declare the elements of its structure. The syntax for defining a method in C# is as follows:</p>

<p>
    <Access Specifier>
        <Return Type>           <Method Name>
                (Parameter List)
                {
                Method Body
                }
</p>