@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>C# Overview</h2>

<p>
    C# is a modern, general-purpose, object-oriented programming language developed by Microsoft <br />
    and approved by European Computer Manufacturers Association (ECMA) and International <br />
    Standards Organization (ISO).
</p>

<p>C# was developed by Anders Hejlsberg and his team during the development of .Net Framework.</p>

<p>
    C# is designed for Common Language Infrastructure (CLI), which consists of the executable code <br />
    and runtime environment that allows use of various high-level languages on different computer platforms and architectures.
</p>

<h2>Strong Programming Features of C#</h2>

<p>
    Although C# constructs closely follow traditional high-level languages, C and C++ and being an object-oriented<br/>
    programming language. It has strong resemblance with Java, it has numerous strong programming features that<br/>
    make it endearing to a number of programmers worldwide.
</p>

<p>Following is the list of few important features of C#:</p>

<ul class="list-group">
    <li class="list-group-item">Boolean Conditions</li>
    <li class="list-group-item">Automatic Garbage Collection</li>
    <li class="list-group-item">Standard Library</li>
    <li class="list-group-item">Assembly Versioning</li>
    <li class="list-group-item">Properties and Eventss</li>
    <li class="list-group-item">Delegates and Events Management</li>
    <li class="list-group-item">Easy-to-use Generics</li>
    <li class="list-group-item">Indexers</li>
    <li class="list-group-item">Conditional Compilation</li>
    <li class="list-group-item">Simple Multithreading</li>
    <li class="list-group-item">LINQ and Lambda Expressions</li>
    <li class="list-group-item">Integration with Windows</li>
</ul>

<p><a href="/Home/HomePage">Previous Page&nbsp;&nbsp;&nbsp;</a><a href="/Home/Variables">Next Page</a></p>