@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Variables</h2>

<p>
    A variable is nothing but a name given to a storage area that our programs can manipulate.<br />
    Each variable in C# has a specific type, which determines the size and layout of the variable's<br />
    memory the range of values that can be stored within that memory and the set of operations that<br />
    can be applied to the variable.
</p>

<p>The basic value types provided in C# can be categorized as:</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Type</th>
            <th>Example</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Integral types</td>
            <td>sbyte, byte, short, ushort, int, uint, long, ulong, and char</td>
        </tr>
        <tr>
            <td>Floating point types</td>
            <td>float and double</td>
        </tr>
        <tr>
            <td>Decimal types</td>
            <td>decimal</td>
        </tr>
        <tr>
            <td>Boolean types</td>
            <td>true or false values, as assigned</td>
        </tr>
        <tr>
            <td>Nullable types</td>
            <td>Nullable data types</td>
        </tr>
    </tbody>
</table>

<h2>Defining Variables</h2>

<p>
    Here, data_type must be a valid C# data type including char, int, float, double, or<br />
    any user-defined data type, and variable_list may consist of one or more identifier<br />
    names separated by commas.
</p>

<p>Some valid variable definitions are shown here:</p>

<p>
    int i, j, k; <br />
    char c, ch; <br />
    float f, salary;<br />
    double d;
    string s;
</p>

<h2>Initializing Variables</h2>

<p>
    Variables are initialized (assigned a value) with an equal sign followed by a constant expression.<br />
    The general form of initialization is:
</p>

<p>variable_name = value;</p>
<p>int i = 10;</p>
<p>double = 10.5</p>

<h2>Constants</h2>
<p>
    The constants refer to fixed values that the program may not alter during its execution. These fixed values <br />
    are also called literals. Constants can be of any of the basic data types like an integer constant, a floating <br/>
    constant, a character constant, or a string literal. There are also enumeration constants as well.
</p>

<h2>Defining Constants</h2>

<p>Constants are defined using the const keyword. Syntax for defining a constant is:</p>

<p>const double pi = 3.14159;  </p>

<p><a href="/Home/OverView">Previous Page&nbsp;&nbsp;&nbsp;</a><a href="/Home/Operators">Next Page</a></p>

<div class="fb-comments" data-href="https://genesiscoding.com" data-numposts="5"></div>